
html{
		box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

body{
  margin:0;
  font-size: 100%
}
header{
	background-color: #cd5b34;
  font-size: 3rem;
  color: #fff;
}

nav{
  text-align: center
}

nav ol {

  list-style-type: none;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  padding:0;
}

nav li {
  border: 1pt solid #a33f3a;
  display: inline-block;
  margin:0;
  float:left;
  width: 33.333%;
}


nav a {
  display:block;
  background-color: #cd5b34;
  padding: 0.5em 0.75em;
  color: #fff;
  text-decoration: none;

}

nav a:hover {
  background-color: #a93f35;
  color: #fff;
}

h1{
	background-color: #cd5b34;
	font-size: 2.2rem;
  text-align: center;
  margin: 0rem;
  padding:1rem;
  font-style: normal;
}
h2{
	background-color: #dc8252;
	font-size: 1.1rem;
  padding: 1rem;
  color: #fff;
  clear:both;
  margin-bottom: 0rem;
  margin-top: 0rem;
  text-align: center;
}

h3{
font-size: 1.3rem;
clear:both;
text-align: center;
padding-top: 1em;
}

figure{
  margin: 0;
  border:0;
}
figcaption{
	background-color: #dc8252;
  font-size: 0.9rem;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding-top: 0rem;

}

.oats-cap{
  background-color: #dc8252;
  font-size: 0.9rem;
  padding: 1rem;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 0rem;
  color: #fff;
  text-align:center;
  font-style: italic;
  float:right;
  display: block;
  width:50%;
  clear:right;
}

.rice-cap{
  background-color: #dc8252;
  font-size: 0.9rem;
  padding: 1rem;
  padding-top: 0.3rem;
  padding-right: 1rem;
  padding-left:0em;
  color: #fff;
  text-align: center;
  font-style: italic;
  float:left;
  display:block;
  width:50%;
  clear:both;
}
.corn-cap{
  clear:both;
}

div{
  background-color: #dc8252;
}

.logo{
  width: 20pt;
  float:left;
  padding-top: 15px;
}

.logo2{
  width: 20pt;
  float:right;
  padding-top: 15px;
}

p{
  font-size: 1em;
  margin: 50px 0px 0px 10px;
  line-height: 1.5em;


}

.second-p{
  font-size: 1em;
  margin: 10px 0px 10px 10px;


}

.grains{
  float:left;
  width: 40%;
  margin: 10px 10px 10px 10px;

}

.cereals{
  float:right;
  clear:left;
  width: 40%;
  margin:10px;
}

.quinoa{
  float:right;
  clear:both;
  width: 40%;
  margin:10px;
}

.corn{
  width:100%;
  clear:both;

}

.rice{
width: 50%;
float:left;
}

.oats{
  width: 50%;
  display:inline;
  clear:both;
}


.legumes {
  float: left;
  width: 25%;
  clear: both;
  margin:10px;
  margin-bottom: 0;
}

footer{
  background-color: #cd5b34;
  font-size: 0.8rem;
  color: #fff;
  margin-top:2em;
  padding: 1em;
  width:100%;
  display: inline-block;

  text-align: center;
}


.peanuts{
  margin:10px;
  margin-bottom: 15%;
  padding-top: 5px;
  font-size: 0.9em;


}
